<section class="header">
  <div class="container header__container">
    <a href="index.html" class="header__logo">
      <img src="./images/logo.svg" class="header__svg" alt="логотип компанії" />
      <p class="header__company">aліра-транс</p>
    </a>

    <button class="burger" id="burger-btn" type="button">
      <svg class="burger__svg" width="42" height="23">
        <use href="./images/sprite.svg#icon-burger-button"></use>
      </svg>
    </button>

    <ul class="nav">
      <li class="nav__item"><a href="#" class="nav__link">Наші послуги</a></li>
      <li class="nav__item"><a href="#" class="nav__link">Про компанію</a></li>
      <li class="nav__item"><a href="#" class="nav__link">Переваги</a></li>
      <li class="nav__item"><a href="#" class="nav__link">Де ми працюємо</a></li>
    </ul>

    <ul class="phone__list">
      <li class="phone__item">
        <a href="tel:+380632350236" class="phone__link">+38 (063) 23-50-236</a>
      </li>
      <li class="phone__item">
        <a href="tel:+380631389841" class="phone__link">+38 (063) 13-89-841</a>
      </li>
    </ul>

    <button class="order-btn header__btn" type="button" data-modal-open>Замовити дзвінок</button>
  </div>
</section>
