<div class="mobile-menu" id="mobile-menu">
  <button class="mobile__close" id="mobile-close" type="button">
    <svg class="mobile__icon" width="17" height="17">
      <use href="./images/sprite.svg#icon-close"></use>
    </svg>
  </button>

  <ul class="mobile-nav">
    <li class="mobile-nav__item"><a href="#" class="mobile-nav__link">Наші послуги</a></li>
    <li class="mobile-nav__item"><a href="#" class="mobile-nav__link">Про компанію</a></li>
    <li class="mobile-nav__item"><a href="#" class="mobile-nav__link">Переваги</a></li>
    <li class="mobile-nav__item"><a href="#" class="mobile-nav__link">Де ми працюємо</a></li>
  </ul>
  <div class="mobile__buttons">
    <button class="order-btn mobile__btn mobile__btn--first" type="button">Зателефонувати</button>
    <button class="order-btn mobile__btn" type="button" data-modal-open>Замовити дзвінок</button>
  </div>
</div>
