.container {
  margin: 0 auto;
  padding: 0 10px;
  @include min-width('small') {
    width: 320px;
  }
  @include min-width('medium') {
    width: 640px;
  }
  @include min-width('large') {
    width: 1180px;
  }
}
