.order-btn {
  //   background: linear-gradient(92.86deg, #076a89 0%, #48b5d8 100%);
  border-radius: 100px;
  color: $primary-white-color;
  cursor: pointer;
  background: linear-gradient(
    92.86deg,
    $start-gradient-color 0%,
    $end-gradient-color 51%,
    $start-gradient-color 100%
  );
  transition: background-position $main-duration $timing-function;

  background-size: 200% auto;
  &:hover,
  &:focus {
    background-position: right center;
  }
}
