.benefits {
  padding-top: 50px;
  padding-bottom: 80px;
  @include min-width('medium') {
    padding-bottom: 96px;
  }
  @include min-width('large') {
    padding-top: 78px;
    padding-bottom: 80px;
  }
}

.benefits-title {
  color: #303030;
  text-align: center;
  @include font(20px, 800, 52px);
  margin-bottom: 40px;

  @include min-width('medium') {
    @include font(30px, 800, 52px);
    margin-bottom: 40px;
  }
  @include min-width('large') {
    @include font(40px, 800, 52px);
    margin-bottom: 74px;
  }
}
.benefits-list {
  @include min-width('large') {
    display: flex;
    margin-left: -17px;
  }
}

.benefits-item {
  padding: 20px;

  box-shadow: 0px 0px 10px 2px rgba(0, 33, 44, 0.07);
  border-radius: 5px;
  @include min-width('medium') {
    &:hover {
      width: 500px;
    }
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-bottom: 11px;
  }
  @include min-width('large') {
    display: block;
    padding: 11px;

    flex-basis: calc(100% / 5 - 17px);
    margin-left: 17px;
  }
}
.benefits-text {
  color: #303030;
  @include font(16px, 500, 26px);

  @include min-width('large') {
    @include font(13px, 500, 26px);
  }
}
.benefits-item:not(:last-child) {
  @include max-width('large') {
    margin-bottom: 30px;
  }
}
.benefits-svg {
  color: linear-gradient(92.86deg, #009bcb 0%, #48b5d8 100%);
  margin-bottom: 20px;
  width: 60px;
  height: 60px;
  @include min-width('medium') {
    margin-right: 25px;
    margin-bottom: 0px;
  }
  @include min-width('large') {
    margin-right: 0px;
    margin-bottom: 17px;
  }
}
