.header {
  padding: 14px 0;
  @include min-width('large') {
    padding: 16px 0;
  }
}

.header__container {
  display: flex;
  align-items: center;
  @include max-width('large') {
    justify-content: space-between;
  }
}

.header__logo {
  display: flex;
  align-items: center;
  @include min-width('large') {
    margin-right: auto;
  }
}

.header__svg {
  width: 31px;
  height: 18px;
  @include min-width('medium') {
    width: 46px;
    height: 27px;
  }
}

.header__company {
  @include font(15px, 600, 16px);
  color: #333333;
  text-transform: uppercase;
  @include min-width('medium') {
    @include font(21px, 600, 23px);
  }
}

.burger {
  line-height: 0;
  @include min-width('large') {
    display: none;
  }
}

.nav,
.phone__list,
.header__btn {
  @include max-width('large') {
    display: none;
  }
}

.nav {
  @include min-width('large') {
    @include flex-center;
    margin-right: 55px;
  }
}

.nav__item:not(:last-child) {
  margin-right: 25px;
}

.nav__link {
  @include font(16px, 400, 35px);
  color: #333333;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    bottom: -6px;
    right: 0;
    width: 0%;
    height: 3px;
    border-radius: 100px;
    background: linear-gradient(90.04deg, #076a89 0%, #48b5d8 100%);
    transition: all $main-duration $timing-function;
  }
  &:hover::before {
    width: 100%;
    left: 0;
  }
}

.nav__dropdown {
  position: relative;
}

.dropdown__wrapper {
  @include max-width('large') {
    display: none;
  }
  padding-top: 20px;
  position: absolute;
  z-index: 20;
  top: 24px;
  left: -100px;
  width: 316px;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all $main-duration $timing-function;
  transform: translateY(70px);
}

.dropdown {
  background-color: $primary-white-color;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.dropdown-is-open {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.dropdown__item {
  &:not(:last-child) {
    border-bottom: 1px solid#F2F2F2;
  }
}

.dropdown__link {
  display: block;
  padding: 15px 5px 15px 15px;
  @include font(14px, 400, 17px);
  transition: color $main-duration $timing-function;
  &:hover {
    color: #0f83a8;
  }
}

.phone__list {
  margin-right: 23px;
}

.phone__link {
  @include font(12px, 500, 17px);
  transition: color $main-duration $timing-function;
  &:hover {
    color: #0f83a8;
  }
}

.header__btn {
  @include font(14px, 600, 35px);
  padding: 2px 18px;
}
