.partners {
  padding-top: 50px;
  padding-bottom: 72px;
  &__title {
    margin-bottom: 35px;
  }
  &__list {
    display: flex;
  }
  &__container {
    padding-left: 40px;
    padding-right: 40px;
  }
  &__item {
    margin-right: 27px;
  }
}
.slick-prev,
.slick-next {
  @include min-width('large') {
    display: none;
  }
}
.slick-prev:before,
.slick-next:before {
  color: black;
}
