<section class="benefits">
  <div class="container container__benefits">
    <h2 class="benefits-title">Переваги</h2>
    <ul class="benefits-list">
      <li class="benefits-item">
        <img class="benefits-svg" src="./images/benefits1.svg" width="48" height="60" />

        <p class="benefits-text">18 років на ринку перевезень співробітників</p>
      </li>
      <li class="benefits-item">
        <img class="benefits-svg" src="./images/benefits2.svg" width="64" height="60" />

        <p class="benefits-text">Професійні водії зі стажем роботи</p>
      </li>
      <li class="benefits-item">
        <img class="benefits-svg" src="./images/benefits3.svg" width="64" height="60" />

        <p class="benefits-text">Завжди вчасна подача авто</p>
      </li>
      <li class="benefits-item">
        <img class="benefits-svg" src="./images/benefits4.svg" width="60" height="60" />

        <p class="benefits-text">Безпека перевезення та страхування пасажирів</p>
      </li>
      <li class="benefits-item">
        <img class="benefits-svg" src="./images/benefits5.svg" width="64" height="60" />

        <p class="benefits-text">Перевозимо більше 10000 співробітників в день</p>
      </li>
    </ul>
  </div>
</section>
