<section class="description" id="descriptions">
  <div class="container container__description">
    <h2 class="description-title">
      Професійне розвезення офісних працівників, працівників підприємств, школярів, медиків,
      пацієнтів
    </h2>
    <p class="description-text">
      Ми організовуємо розвезення з роботи чи навчання додому та назад, поїздки у службових цілях чи
      на відпочинок. Ви дбаєте про комфорт своїх співробітників
    </p>
    <ul class="description-list">
      <li class="description-item">
        <img class="description-img" src="/images/mobile/description1.png" />
        <p class="description-info">
          Співробітники прибувають точно до початку робочого дня, а це відсутність затримок і збоїв
          у процесі.
        </p>
      </li>
      <li class="description-item">
        <img class="description-img description-unicum-img" src="/images/mobile/description2.png" />
        <p class="description-info">
          Ви заощаджуєте кошти на утримання свого автопарку. А наші послуги оплачуєте за фактом
          виконання робіт.
        </p>
      </li>
      <li class="description-item">
        <img class="description-img" src="/images/mobile/description3.png" />
        <p class="description-info">
          Комфортний сучасний транспорт, що демонструє лояльність підприємства до співробітників.
        </p>
      </li>
    </ul>
  </div>
</section>
