<section class="hero">
  <div class="container">
    <h1 class="hero__title">Доставка та розвезення співробітників та персоналу</h1>
    <p class="hero__descr">Ваш персонал буде на робочому місці завжди вчасно!</p>

    <div class="button-switch">
      <div class="button-switch__control">
        <input
          class="button-switch__toggle"
          type="checkbox"
          name="show-more"
          placeholder="Детальніше"
          id="button-switch-toggle"
          aria-label="кнопка детальніше"
        />
        <label aria-hidden="true" class="button-switch__track" for="button-switch-toggle"
          ><span class="button-switch__text">Детальніше</span>
        </label>
        <div aria-hidden="true" class="button-switch__marker">
          <svg class="button-switch__icon" aria-label="іконка стрілки" width="18" height="18">
            <use href="./images/sprite.svg#icon-arrow-right"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide swiper-slide-first"></div>
      <div class="swiper-slide swiper-slide-second"></div>
      <div class="swiper-slide swiper-slide-third"></div>
    </div>
  </div>
</section>
