<section class="ukraine" id="map">
  <div class="container container-ukraine">
    <div class="wrapper-info-ukraine">
      <h2 class="ukraine-title">
        Понад 18 років ми працюємо у багатьох містах та областях України
      </h2>
      <div class="wrapper-lists">
        <ul class="ukraine-list-first">
          <li class="ukraine-item">Київ</li>
          <li class="ukraine-item">Одеса</li>
          <li class="ukraine-item">Запоріжжя</li>
          <li class="ukraine-item">Харків</li>
          <li class="ukraine-item">Львів</li>
          <li class="ukraine-item">Херсон</li>
          <li class="ukraine-item">Рівне</li>
        </ul>
        <ul class="ukraine-list-second">
          <li class="ukraine-item">Ужгород</li>
          <li class="ukraine-item">Дніпро</li>
          <li class="ukraine-item">Вінниця</li>
          <li class="ukraine-item">Хмельницький</li>
          <li class="ukraine-item">Полтава</li>
          <li class="ukraine-item">Миколаїв</li>
        </ul>
      </div>
    </div>
    <div class="wrapper-map-img">
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="./images/deckstope/mapUpkraine.webp 1x, ./images/deckstope/mapUpkraine@2x.webp 2x"
          type="image/webp"
        />
        <source
          media="(min-width: 1440px)"
          srcset="./images/deckstope/mapUpkraine.png 1x, ./images/deckstope/mapUpkraine@2x.png 2x"
        />

        <source
          media="(min-width: 640px)"
          srcset="./images/tablet/mapUkraine.webp 1x, ./images/tablet/mapUkraine@2x.webp 2x"
          type="image/webp"
        />
        <source
          media="(min-width: 640px)"
          srcset="./images/tablet/mapUkraine.png 1x, ./images/tablet/mapUkraine@2x.png 2x"
        />

        <source
          media="(min-width: 320px)"
          srcset="./images/mobile/mapUkraine.webp 1x, ./images/mobile/mapUkraine@2x.webp 2x"
          type="image/webp"
        />
        <source
          media="(min-width: 320px)"
          srcset="./images/mobile/mapUkraine.png 1x, ./images/mobile/mapUkraine@2x.png 2x"
        />

        <img class="map-ukraine-img" src="#" alt="карта України" />
      </picture>
    </div>
  </div>
</section>
