<section class="offers" id="offers">
  <div class="container container__offers">
    <h2 class="offers-title">Наші послуги</h2>
    <ul class="offers-list">
      <li class="offers-item">
        <div class="wrapper-offers-img">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="./images/deckstope/offer1.webp 1x, ./images/deckstope/offer1@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(min-width: 1440px)"
              srcset="./images/deckstope/offer1.jpg 1x, ./images/deckstope/offer1@2x.jpg 2x"
            />

            <source
              media="(min-width: 640px)"
              srcset="./images/tablet/offer1.webp 1x, ./images/tablet/offer1@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(min-width: 640px)"
              srcset="./images/tablet/offer1.jpg 1x, ./images/tablet/offer1@2x.jpg 2x"
            />

            <source
              media="(min-width: 320px)"
              srcset="./images/mobile/offer1.webp 1x, ./images/mobile/offer1@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(min-width: 320px)"
              srcset="./images/mobile/offer1.jpg 1x, ./images/mobile/offer1@2x.jpg 2x"
            />

            <img
              class="offers-img align-left"
              src="./images/mobile/offer1.jpg"
              alt="автобусна станція"
              loading="lazy"
            />
          </picture>
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="./images/deckstope/offer2.webp 1x, ./images/deckstope/offer2@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(min-width: 1440px)"
              srcset="./images/deckstope/offer2.jpg 1x, ./images/deckstope/offer2@2x.jpg 2x"
            />

            <source
              media="(min-width: 640px)"
              srcset="./images/tablet/offer2.webp 1x, ./images/tablet/offer2@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(min-width: 640px)"
              srcset="./images/tablet/offer2.jpg 1x, ./images/tablet/offer2@2x.jpg 2x"
            />

            <source
              media="(min-width: 320px)"
              srcset="./images/mobile/offer2.webp 1x, ./images/mobile/offer2@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(min-width: 320px)"
              srcset="./images/mobile/offer2.jpg 1x, ./images/mobile/offer2@2x.jpg 2x"
            />

            <img
              class="offers-img align-left"
              src="./images/mobile/offer2.jpg"
              alt="автобусна станція"
              loading="lazy"
            />
          </picture>
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="./images/deckstope/offer3.webp 1x, ./images/deckstope/offer3@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(min-width: 1440px)"
              srcset="./images/deckstope/offer3.jpg 1x, ./images/deckstope/offer3@2x.jpg 2x"
            />

            <source
              media="(min-width: 640px)"
              srcset="./images/tablet/offer3.webp 1x, ./images/tablet/offer3@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(min-width: 640px)"
              srcset="./images/tablet/offer3.jpg 1x, ./images/tablet/offer3@2x.jpg 2x"
            />

            <source
              media="(min-width: 320px)"
              srcset="./images/mobile/offer3.webp 1x, ./images/mobile/offer3@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(min-width: 320px)"
              srcset="./images/mobile/offer3.jpg 1x, ./images/mobile/offer3@2x.jpg 2x"
            />

            <img
              class="offers-img align-left"
              src="./images/mobile/offer3.jpg"
              alt="автобусна станція"
              loading="lazy"
            />
          </picture>
        </div>
        <div class="wrapper-offers-info">
          <h3 class="offers-subtitle">Розвезення персоналу і співробітників</h3>
          <p class="offers-text">
            Ця послуга підходить для тих компаній, які знаходяться за межею міста і не всі
            працівники можуть доїхати туди громадським транспортом. Звернувшись до нашої компанії,
            Ви зможете орендувати автобус у будь-який час і немає потреби утримувати власний
            автопарк. Вам не доведеться турбуватися про стан транспорту, про водіїв та про безліч
            інших факторів. Надайте це професіоналам!
          </p>
          <button class="offers-btn order-btn" type="button" data-modal-open>
            Замовити дзвінок
          </button>
        </div>
      </li>
      <li class="offers-item reverse-side">
        <div class="wrapper-offers-img wrapper-offers-img-reverse">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="./images/deckstope/offer4.webp 1x, ./images/deckstope/offer4@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(min-width: 1440px)"
              srcset="./images/deckstope/offer4.jpg 1x, ./images/deckstope/offer4@2x.jpg 2x"
            />

            <source
              media="(min-width: 640px)"
              srcset="./images/tablet/offer4.webp 1x, ./images/tablet/offer4@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(min-width: 640px)"
              srcset="./images/tablet/offer4.jpg 1x, ./images/tablet/offer4@2x.jpg 2x"
            />

            <source
              media="(min-width: 320px)"
              srcset="./images/mobile/offer4.webp 1x, ./images/mobile/offer4@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(min-width: 320px)"
              srcset="./images/mobile/offer4.jpg 1x, ./images/mobile/offer4@2x.jpg 2x"
            />

            <img
              class="offers-img offers-img-reverse align-right"
              src="./images/mobile/offer4.jpg"
              alt="сучасний автобус"
              loading="lazy"
            />
          </picture>
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="./images/deckstope/offer5.webp 1x, ./images/deckstope/offer5@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(min-width: 1440px)"
              srcset="./images/deckstope/offer5.jpg 1x, ./images/deckstope/offer5@2x.jpg 2x"
            />

            <source
              media="(min-width: 640px)"
              srcset="./images/tablet/offer5.webp 1x, ./images/tablet/offer5@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(min-width: 640px)"
              srcset="./images/tablet/offer5.jpg 1x, ./images/tablet/offer5@2x.jpg 2x"
            />

            <source
              media="(min-width: 320px)"
              srcset="./images/mobile/offer5.webp 1x, ./images/mobile/offer5@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(min-width: 320px)"
              srcset="./images/mobile/offer5.jpg 1x, ./images/mobile/offer5@2x.jpg 2x"
            />

            <img
              class="offers-img offers-img-reverse align-right"
              src="./images/mobile/offer5.jpg"
              alt="сучасний автобус"
              loading="lazy"
            />
          </picture>
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="./images/deckstope/offer6.webp 1x, ./images/deckstope/offer6@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(min-width: 1440px)"
              srcset="./images/deckstope/offer6.jpg 1x, ./images/deckstope/offer6@2x.jpg 2x"
            />

            <source
              media="(min-width: 640px)"
              srcset="./images/tablet/offer6.webp 1x, ./images/tablet/offer6@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(min-width: 640px)"
              srcset="./images/tablet/offer6.jpg 1x, ./images/tablet/offer6@2x.jpg 2x"
            />

            <source
              media="(min-width: 320px)"
              srcset="./images/mobile/offer6.webp 1x, ./images/mobile/offer6@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(min-width: 320px)"
              srcset="./images/mobile/offer6.jpg 1x, ./images/mobile/offer6@2x.jpg 2x"
            />

            <img
              class="offers-img offers-img-reverse align-right"
              src="./images/mobile/offer6.jpg"
              alt="сучасний автобус"
              loading="lazy"
            />
          </picture>
        </div>
        <div class="wrapper-offers-info">
          <h3 class="offers-subtitle">Поїздки по місту і Україні</h3>
          <p class="offers-text">
            Компанія «АЛІРА-ТРАНС» допоможе швидко та якісно організувати поїздки до будь-якої точки
            України. Для цього існує послуга оренди автобуса Україною, при цьому недорого з водієм.
            Всі транспортні засоби регулярно проходять технічний огляд та можуть забезпечити надійне
            транспортування навіть найменших пасажирів. Автобуси відповідають європейським
            стандартам якості та безпеки.
          </p>
          <button class="offers-btn order-btn" type="button" data-modal-open>
            Замовити дзвінок
          </button>
        </div>
      </li>
      <li class="offers-item">
        <div class="wrapper-offers-img">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="./images/deckstope/offer8.webp 1x, ./images/deckstope/offer8@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(min-width: 1440px)"
              srcset="./images/deckstope/offer8.jpg 1x, ./images/deckstope/offer8@2x.jpg 2x"
            />

            <source
              media="(min-width: 640px)"
              srcset="./images/tablet/offer8.webp 1x, ./images/tablet/offer8@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(min-width: 640px)"
              srcset="./images/tablet/offer8.jpg 1x, ./images/tablet/offer8@2x.jpg 2x"
            />

            <source
              media="(min-width: 320px)"
              srcset="./images/mobile/offer8.webp 1x, ./images/mobile/offer8@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(min-width: 320px)"
              srcset="./images/mobile/offer8.jpg 1x, ./images/mobile/offer8@2x.jpg 2x"
            />

            <img
              class="offers-img align-left"
              src="./images/mobile/offer8.jpg"
              alt="автобусна станція"
              loading="lazy"
            />
          </picture>
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="./images/deckstope/offer9.webp 1x, ./images/deckstope/offer9@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(min-width: 1440px)"
              srcset="./images/deckstope/offer9.jpg 1x, ./images/deckstope/offer9@2x.jpg 2x"
            />

            <source
              media="(min-width: 640px)"
              srcset="./images/tablet/offer9.webp 1x, ./images/tablet/offer9@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(min-width: 640px)"
              srcset="./images/tablet/offer9.jpg 1x, ./images/tablet/offer9@2x.jpg 2x"
            />

            <source
              media="(min-width: 320px)"
              srcset="./images/mobile/offer9.webp 1x, ./images/mobile/offer9@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(min-width: 320px)"
              srcset="./images/mobile/offer9.jpg 1x, ./images/mobile/offer9@2x.jpg 2x"
            />

            <img
              class="offers-img align-left"
              src="./images/mobile/offer9.jpg"
              alt="автобусна станція"
              loading="lazy"
            />
          </picture>
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="./images/deckstope/offer10.webp 1x, ./images/deckstope/offer10@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(min-width: 1440px)"
              srcset="./images/deckstope/offer10.jpg 1x, ./images/deckstope/offer10@2x.jpg 2x"
            />

            <source
              media="(min-width: 640px)"
              srcset="./images/tablet/offer10.webp 1x, ./images/tablet/offer10@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(min-width: 640px)"
              srcset="./images/tablet/offer10.jpg 1x, ./images/tablet/offer10@2x.jpg 2x"
            />

            <source
              media="(min-width: 320px)"
              srcset="./images/mobile/offer10.webp 1x, ./images/mobile/offer10@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(min-width: 320px)"
              srcset="./images/mobile/offer10.jpg 1x, ./images/mobile/offer10@2x.jpg 2x"
            />

            <img
              class="offers-img align-left"
              src="./images/mobile/offer10.jpg"
              alt="автобусна станція"
              loading="lazy"
            />
          </picture>
        </div>
        <div class="wrapper-offers-info">
          <h3 class="offers-subtitle">Оренда автобуса с водієм</h3>
          <p class="offers-text">
            Замовлення транспорту в нашій компанії забезпечить вам надійне та оперативне перевезення
            по Києву та Україні. Крім цього, оренда автобуса з водієм позбавить ваших гостей від
            безлічі незручностей, наприклад, відсутності місця для паркування особистого транспорту.
          </p>
          <button class="offers-btn order-btn" type="button" data-modal-open>
            Замовити дзвінок
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
