<section class="partners">
  <div class="container partners__container">
    <h1 class="title partners__title">Наші партнери</h1>
    <ul class="partners__list">
      <li class="partners__item">
        <picture class="partners__img">
          <source
            media="(min-width: 1200px)"
            srcset="./images/deckstope/atb-logo.webp 1x, ./images/deckstope/atb-logo@2x.webp 2x"
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="./images/deckstope/atb-logo.png 1x, ./images/deckstope/atb-logo@2x.png 2x"
          />
          <source
            media="(min-width: 640px)"
            srcset="./images/tablet/atb-logo.webp 1x, ./images/tablet/atb-logo@2x.webp 2x"
            type="image/webp"
          />
          <source
            media="(min-width: 640px)"
            srcset="./images/tablet/atb-logo.png 1x, ./images/tablet/atb-logo@2x.png 2x"
          />
          <source
            media="(min-width: 320px)"
            srcset="./images/mobile/atb-logo.webp 1x, ./images/mobile/atb-logo@2x.webp 2x"
            type="image/webp"
          />
          <source
            media="(min-width: 320px)"
            srcset="./images/mobile/atb-logo.png 1x, ./images/mobile/atb-logo@2x.png 2x"
          />
          <img src="./images/deckstope/atb-logo.png" alt="Логотип АТБ" loading="lazy" />
        </picture>
      </li>
      <li class="partners__item">
        <picture class="partners__img">
          <source
            media="(min-width: 1200px)"
            srcset="./images/deckstope/brsm-logo.webp 1x, ./images/deckstope/brsm-logo@2x.webp 2x"
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="./images/deckstope/brsm-logo.png 1x, ./images/deckstope/brsm-logo@2x.png 2x"
          />
          <source
            media="(min-width: 640px)"
            srcset="./images/tablet/brsm-logo.webp 1x, ./images/tablet/brsm-logo@2x.webp 2x"
            type="image/webp"
          />
          <source
            media="(min-width: 640px)"
            srcset="./images/tablet/brsm-logo.png 1x, ./images/tablet/brsm-logo@2x.png 2x"
          />
          <source
            media="(min-width: 320px)"
            srcset="./images/mobile/brsm-logo.webp 1x, ./images/mobile/brsm-logo@2x.webp 2x"
            type="image/webp"
          />
          <source
            media="(min-width: 320px)"
            srcset="./images/mobile/brsm-logo.png 1x, ./images/mobile/brsm-logo@2x.png 2x"
          />
          <img src="./images/deckstope/brsm-logo.png" alt="Логотип БРСМ" loading="lazy" />
        </picture>
      </li>
      <li class="partners__item">
        <picture class="partners__img">
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/deckstope/nova_poshta-logo.webp    1x,
              ./images/deckstope/nova_poshta-logo@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/deckstope/nova_poshta-logo.png    1x,
              ./images/deckstope/nova_poshta-logo@2x.png 2x
            "
          />
          <source
            media="(min-width: 640px)"
            srcset="
              ./images/tablet/nova_poshta-logo.webp    1x,
              ./images/tablet/nova_poshta-logo@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 640px)"
            srcset="
              ./images/tablet/nova_poshta-logo.png    1x,
              ./images/tablet/nova_poshta-logo@2x.png 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./images/mobile/nova_poshta-logo.webp    1x,
              ./images/mobile/nova_poshta-logo@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./images/mobile/nova_poshta-logo.png    1x,
              ./images/mobile/nova_poshta-logo@2x.png 2x
            "
          />
          <img
            src="./images/deckstope/nova_poshta-logo.png"
            alt="Логотип НОВА ПОЧТА"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="partners__item">
        <picture class="partners__img">
          <source
            media="(min-width: 1200px)"
            srcset="./images/deckstope/okko-logo.webp 1x, ./images/tablet/okko-logo@2x.webp 2x"
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="./images/deckstope/okko-logo.png 1x, ./images/tablet/okko-logo@2x.png 2x"
          />
          <source
            media="(min-width: 640px)"
            srcset="./images/tablet/okko-logo.webp 1x, ./images/tablet/okko-logo@2x.webp 2x"
            type="image/webp"
          />
          <source
            media="(min-width: 640px)"
            srcset="./images/tablet/okko-logo.png 1x, ./images/tablet/okko-logo@2x.png 2x"
          />
          <source
            media="(min-width: 320px)"
            srcset="./images/mobile/okko-logo.webp 1x, ./images/mobile/okko-logo@2x.webp 2x"
            type="image/webp"
          />
          <source
            media="(min-width: 320px)"
            srcset="./images/mobile/okko-logo.png 1x, ./images/mobile/okko-logo@2x.png 2x"
          />
          <img src="./images/deckstope/okko-logo.png" alt="Логотип АТБ" loading="lazy" />
        </picture>
      </li>
      <li class="partners__item">
        <picture class="partners__img">
          <source
            media="(min-width: 1200px)"
            srcset="./images/deckstope/motto-logo.webp 1x, ./images/tablet/motto-logo@2x.webp 2x"
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="./images/deckstope/motto-logo.png 1x, ./images/tablet/motto-logo@2x.png 2x"
          />
          <source
            media="(min-width: 640px)"
            srcset="./images/tablet/motto-logo.webp 1x, ./images/tablet/motto-logo@2x.webp 2x"
            type="image/webp"
          />
          <source
            media="(min-width: 640px)"
            srcset="./images/tablet/motto-logo.png 1x, ./images/tablet/motto-logo@2x.png 2x"
          />
          <source
            media="(min-width: 320px)"
            srcset="./images/mobile/motto-logo.webp 1x, ./images/mobile/motto-logo@2x.webp 2x"
            type="image/webp"
          />
          <source
            media="(min-width: 320px)"
            srcset="./images/mobile/motto-logo.png 1x, ./images/mobile/motto-logo@2x.png 2x"
          />
          <img src="./images/deckstope/motto-logo.png" alt="Логотип АТБ" loading="lazy" />
        </picture>
      </li>
      <li class="partners__item">
        <picture class="partners__img">
          <source
            media="(min-width: 1200px)"
            srcset="./images/deckstope/fozzy-logo.webp 1x, ./images/tablet/fozzy-logo@2x.webp 2x"
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="./images/deckstope/fozzy-logo.png 1x, ./images/tablet/fozzy-logo@2x.png 2x"
          />
          <source
            media="(min-width: 640px)"
            srcset="./images/tablet/fozzy-logo.webp 1x, ./images/tablet/fozzy-logo@2x.webp 2x"
            type="image/webp"
          />
          <source
            media="(min-width: 640px)"
            srcset="./images/tablet/fozzy-logo.png 1x, ./images/tablet/fozzy-logo@2x.png 2x"
          />
          <source
            media="(min-width: 320px)"
            srcset="./images/mobile/fozzy-logo.webp 1x, ./images/mobile/fozzy-logo@2x.webp 2x"
            type="image/webp"
          />
          <source
            media="(min-width: 320px)"
            srcset="./images/mobile/fozzy-logo.png 1x, ./images/mobile/fozzy-logo@2x.png 2x"
          />
          <img src="./images/deckstope/fozzy-logo.png" alt="Логотип АТБ" loading="lazy" />
        </picture>
      </li>
    </ul>
  </div>
</section>
